<div
  data-container
  class="h-full max-h-full min-h-0 w-full min-w-0 bg-slate-100 dark:bg-slate-900"
>
  <div
    data-container-inner
    class="mr-auto ml-auto box-border flex h-full max-h-full min-h-0 w-full max-w-[900px] min-w-0 flex-col"
  >
    <slot />
  </div>
</div>

<style>
  [data-container] {
    container-name: container;
    container-type: inline-size;
  }

  [data-container-inner] {
    padding: 0.5rem;
  }

  @container container (width >= 30rem) and (width < 50rem) {
    [data-container-inner] {
      padding: 1rem;
    }
  }

  @container container (width >= 900px) {
    [data-container-inner] {
      padding: 4rem;
    }
  }
</style>
